<?xml version="1.0"?>

<launch>
	
<!-- True solo con rosbag -->
<param name="/use_sim_time" value="false"/>

<!--Hector Mapping-->
<node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen" >
	<param name="pub_odometry" value="true" />
    
    <!-- Frames -->
	<param name="map_frame" value="map" />
	<param name="base_frame" value="base_stabilized" />
	<!-- odom_frame coincide con il base frame perchè non viene utilizzata l'odometria era base_footprint  -->
	<param name="odom_frame" value="laser_odom" /> 
    
    <!-- Tf -->
	<!-- Debug(se attivo): pubblica direttamente la tf fra il frame fisso (map) 
	e il frame elaborato dallo scan (base_footprint)-->
	<param name="pub_map_scanmatch_transform" value="false"/> 
	<param name="tf_map_scanmatch_transform_frame_name" value="scanmatched_frame" /> 

    <!-- Map settings -->
    <param name="map_resolution" value="0.025"/>
    <param name="map_size" value="4048"/>
	<!-- numero di mappe (a risoluzione diversa) utilizzate per lo scan matching-->
    <param name="map_multi_res_levels" value="3" />
    
    <!-- Map update parameters -->  
    <param name="map_update_distance_thresh" value="0.4"/>
    <param name="map_update_angle_thresh" value="0.9" />
    <param name="laser_z_min_value" value = "-1" />
    <param name="laser_z_max_value" value = "1" />
	<param name="laser_max_dist" value = "6" />
	<param name="laser_min_dist" value = "0.1" />   
    
    <!-- Altro --> 
    <param name="scan_subscriber_queue_size" value="5"/>
    <param name="scan_topic" value="scan"/>
</node>

<!--Rviz-->
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find lidar_cam_mapping)/rviz.rviz" />

<!--Geotiff (serve per salvare la mappa)-->
<include file="$(find lidar_cam_mapping)/launch/hector_geotiff_trajectory.launch"/>

<!-- base_slabilized -> IMU -->


<node pkg="hector_imu_attitude_to_tf" type="imu_attitude_to_tf_node" name="base_stabilized2IMU_tf" output="screen"> 

	<param name="base_stabilized_frame" type="string" value="base_stabilized" />
	<param name="base_frame" type="string" value="imu" />
</node> 

<!-- base_stabilized -> Laser versione BIPE-->
 <node pkg="tf" type="static_transform_publisher" name="IMU2laser_tf" args="0 0 0 0 0 0 base_stabilized laser 100"/> 
 

<!--IMU -> Cam -->
 <node pkg="tf" type="static_transform_publisher" name="IMU2cam_tf" args="0 0 0 0 0 0 base_stabilized camera_link 100"/>
 
<node pkg="tf" type="static_transform_publisher" name="cam_tf" args="0 0 0 -1.570795 0 -1.570795 camera_link camera_depth_optical_frame 100"/>

<node pkg="tf" type="static_transform_publisher" name="footprint2stabilizedTF" 
args="0 0 0 0 0 0 base_footprint base_stabilized 100"/>


</launch>
  
